<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>
			<%= appName %>
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/mui.min.css">
		<style>
			.mui-input-group label {
				width: 22%;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
			
			.link-area {
				display: block;
				margin-top: 25px;
				text-align: center;
			}
			
			.spliter {
				color: #bbb;
				padding: 0px 8px;
			}
		</style>
	</head>

	<body>

		<header id="header" class="mui-bar mui-bar-nav">
			<h1 class="mui-title"><%= appName %></h1>
		</header>

		<div class="mui-content">
			<form id='login-form' class="mui-input-group" style="margin-top: 20px;">
				<div class="mui-input-row">
					<label>账号</label>
					<input id='account' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
				</div>
				<div class="mui-input-row">
					<label>密码</label>
					<input id='password' type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
				</div>
			</form>
			<div class="mui-content-padded" style="margin-top: 25px;">
				<button id='login' class="mui-btn mui-btn-block mui-btn-primary" style="padding: 10px;">登录</button>
				<div class="link-area"><a id='reg' href="javascript:void(0);">注册账号</a> <span class="spliter">|</span> <a id='forgetPassword' href="javascript:void(0);">忘记密码</a>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init({});
		</script>

	</body>

</html>