<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>
			<%= appName %>
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/mui.min.css">
		<style>
			.mui-input-group label {
				width: 22%;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				width: 78%;
			}
			
			.link-area {
				display: block;
				margin-top: 25px;
				text-align: center;
			}
			
			.spliter {
				color: #bbb;
				padding: 0px 8px;
			}
		</style>
	</head>

	<body>

		<header id="header" class="mui-bar mui-bar-nav">
			<h1 class="mui-title"><%= appName %></h1>
		</header>

		<div class="mui-content">
			<form id='login-form' class="mui-input-group" style="margin-top: 20px;">
				<div class="mui-input-row">
					<label>账号</label>
					<input id='account' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
				</div>
				<div class="mui-input-row">
					<label>密码</label>
					<input id='password' type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
				</div>
			</form>
			<div class="mui-content-padded" style="margin-top: 25px;">
				<button id='login' class="mui-btn mui-btn-block mui-btn-primary" style="padding: 10px;">登录</button>
				<div class="link-area"><a id='reg'>注册账号</a> <span class="spliter">|</span> <a id='forgetPassword'>忘记密码</a>
				</div>
			</div>
		</div>
		<script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
		<script src="js/mui.min.js"></script>
		<script src="js/app.js"></script>
		<script type="text/javascript">
			mui.init({});
			var regButton = document.getElementById('reg');
			regButton.addEventListener('tap', function(event) {
				mui.alert('暂不提供注册功能噢，找管理员要账号吧~',
					'闲人免进——的说');
			}, false);
			var forgetPasswordButton = document.getElementById('forgetPassword');
			forgetPasswordButton.addEventListener('tap', function(event) {
				mui.alert('密码也能忘？！求管理员帮你改吧。。。', '长点记性哈……');
			}, false);
			var loginButton = document.getElementById('login');
			loginButton.addEventListener('tap', function(event) {
				AV.Cloud.run('hello', {
					name: 'dennis'
				}, {
					success: function(data) {
						//调用成功，得到成功的应答data
					},
					error: function(err) {
						//处理调用失败
					}
				});
				AV.Cloud.run('login', {
					username: document.getElementById('account').value,
					password: document.getElementById('password').value
				}).then(function(result) {
					console.log(result);
					mui.alert('登录成功~不过功能还没做好呢:-D',
						'登录成功');
				}, function(error) {
					mui.alert('登录失败~再想想密码是不是错了噢',
						'登录失败');
					console.log(error);
				});
			}, false);
		</script>

	</body>

</html>